doctype html
html
  head
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    link(rel='stylesheet', href='/stylesheets/styleLetter.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/letter.js')
    title= title
  body

    block content
 
    #wrapper
      #header
        //Nav-Bar
        nav.navbar.navbar-default.navbar-static-top
               ul.nav.navbar-nav
                li.non-active
                  a(href='/tutorial') Home
                li.non-active
                  a(href='/tutorial/cards') Vocabulary: Flashcards
                li.non-active
                  a(href='/tutorial/spellingvoc') Vocabulary: Test
                li.active
                  a(href='/tutorial/lettercreation?vocGreet') Letter Creator 
        //-Nav-Bar 
        br
        br     
        h1= title
        p German-English Tutorial for the PNH girls
        br
        
        #middle.column  
       
           button.btn.btn-success.btn-large#catButton
             i.icon-white.icon-chevron-down#ici
             |  Choose a Category
           
               
           #Cattable
            br
            br
            table(style='text-align: left; margin-left: 2%; margin-right: 2%;')
             tr
              th 
               a(href='/tutorial/lettercreation?vocGreet')
                img.img-circle.img-responsive(src='/images/hellobye.png', alt='hello & bye', width="150", height="150")
              
              th 
               a(href='/tutorial/lettercreation?vocSchool')
                img.img-circle.img-responsive(src='/images/School.png', alt='School',  width="150", height="100", )
              th 
               a(href='/tutorial/lettercreation?letWeather')
                img.img-circle.img-responsive(src='/images/weather.png', alt='weather',  width="150", height="150")
              th 
               a(href='/tutorial/lettercreation?letCeremonies')
                img.img-circle.img-responsive(src='/images/ceremonies.png', alt='ceremonies', width="150", height="150")
              th 
               a(href='/tutorial/lettercreation?letAboutme')
                img.img-circle.img-responsive(src='/images/aboutme.png', alt='about me',  width="150", height="150")
              th 
               a(href='/tutorial/lettercreation?letFamily')
                img.img-circle.img-responsive(src='/images/family.png', alt='family',  width="150", height="150")            
             tr
              th 
               a(href='/tutorial/lettercreation?letFriends')
                img.img-circle.img-responsive(src='/images/friends.png', alt='friends',  width="150", height="150")
              th 
               a(href='/tutorial/lettercreation?letFood')
                img.img-circle.img-responsive(src='/images/food.png', alt='food', width="150", height="150")
              th 
               a(href='/tutorial/lettercreation?letColorsNumbers')
                img.img-circle.img-responsive(src='/images/colorsNumbers.png', alt='colors & numbers',  width="150", height="150")
                           
              th 
               a(href='/tutorial/lettercreation?letHobbies')
                img.img-circle.img-responsive(src='/images/hobbies.png', alt='hobbies',  width="150", height="150")
              th 
               a(href='/tutorial/lettercreation?letPnh')
                img.img-circle.img-responsive(src='/images/pnh.png', alt='PNH',  width="150", height="150")
              th 
               a(href='/tutorial/lettercreation?letSickness')
                img.img-circle.img-responsive(src='/images/sickness.png',  width="150", height="150", alt='sickness')          
        
            //English German Voc Table
           h3(style='color: white;')    &nbsp;Add Sentences              
           #vocTable
                table.table.table-bordered              
                         tr
                           th English    -   German
                              
                                                  
                         tr#feeltz
                           th#fee1
            //-English German Voc Table
                                                                                         

        #left.column
            //LetterList
            h3(style='color: white;')    &nbsp;Your Letter
            #letter.letter
                table.table.lt
                    thead
                        th
                    tbody
                #deleteall  Delete all? 
                #copyall                
            //-Letter List
            
            .modal.fade
             .modal-dialog
               .modal-content
                 .modal-header
                   button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                   h4.modal-title Modal title
                 .modal-body
                   p One fine body…
                 .modal-footer
                   button.btn.btn-default(type='button', data-dismiss='modal') Close
                   button.btn.btn-primary(type='button') Save changes
                    
            
           

        