doctype html
html
  head
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src="//code.jquery.com/ui/1.11.1/jquery-ui.js")    
    link(rel='stylesheet', href='/stylesheets/styleLetter.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css")
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/letter.js')
    title= title
  body

    block content
 
    #wrapper
      #header
        //Nav-Bar
        nav.navbar.navbar-default.navbar-static-top
               ul.nav.navbar-nav
                li.non-active
                  a(href='/tutorial') Home
                li.non-active
                  a(href='/tutorial/cards') Vocabulary: Flashcards
                li.non-active
                  a(href='/tutorial/spellingvoc') Vocabulary: Write Words 
                li.active
                  a(href='/tutorial/lettercreation?vocGreet') Letter Creator 
        //-Nav-Bar 
        br
        br     
        h1= title
        p German-English Tutorial for the PNH girls
        br
        
        #middle.column  
           .container.left
            #help.modal.hide.fade.in(style='display: none;')
             .modal-header
               a.btn.btn-inverse.close(data-dismiss='modal')
                 i.icon-white.icon-remove
                
               h3 Do you need help?
             .modal-body
               h4 Things to do here:              
               p.black Create your own letter.
               p.black Click on the green button "Show Categories".
               p.black Select a Category
               p.black Use the arrows next to the sentences (if existing) to change the sentence.
               p.black Click on "Add" to add a sentence to your letter.
               p.black Click on the "x" next to the sentence on "Your letter" to delete a sentence.
               p.black Drag a sentence to change the order.
                             
            p
             a.tooltips.btn.btn-primary.btn-small(data-toggle='modal', href='#help' ) 
              | ?

       
           button.btn.btn-success#catButton
             i.icon-white.icon-chevron-down#ici
             |  Show Categories
           
               
           #Cattable
            br
            br
            table(style='text-align: left; margin-left: 2%; margin-right: 2%;')
             tr
              th 
               a(href='/tutorial/lettercreation?vocGreet')
                img.img-circle.img-responsive(src='/images/hellobye.png', alt='hello & bye', width="150", height="150")
              
              th 
               a(href='/tutorial/lettercreation?vocSchool')
                img.img-circle.img-responsive(src='/images/School.png', alt='School',  width="150", height="100", )
              th 
               a(href='/tutorial/lettercreation?letWeather')
                img.img-circle.img-responsive(src='/images/weather.png', alt='weather',  width="150", height="150")
              th 
               a(href='/tutorial/lettercreation?letCeremonies')
                img.img-circle.img-responsive(src='/images/ceremonies.png', alt='ceremonies', width="150", height="150")
              th 
               a(href='/tutorial/lettercreation?letAboutme')
                img.img-circle.img-responsive(src='/images/aboutme.png', alt='about me',  width="150", height="150")
               
             tr
              th 
               a(href='/tutorial/lettercreation?letFamily')
                img.img-circle.img-responsive(src='/images/family.png', alt='family',  width="150", height="150")         
              th 
               a(href='/tutorial/lettercreation?letFood')
                img.img-circle.img-responsive(src='/images/food.png', alt='food', width="150", height="150")
            
             
              th 
               a(href='/tutorial/lettercreation?letPnh')
                img.img-circle.img-responsive(src='/images/pnh.png', alt='PNH',  width="150", height="150")
              th 
               a(href='/tutorial/lettercreation?letSickness')
                img.img-circle.img-responsive(src='/images/sickness.png',  width="150", height="150", alt='health' )          
        
            //English German Voc Table
           h3(style='color: white;')
           br            
           #vocTable
                table.table.table-bordered              
                         tr
                           th(style='color: #0099CC; font-size: 1.4em;') Add sentences to your letter
                         tr
                           th#changeSentece(style='font-size: 0.8em;') 
                         tr                                                                                            
                         tr#fee1
                          
            //-English German Voc Table
                                                                                         

        #left.column
            //LetterList
            h3   &nbsp;Your Letter
            #letter.letter 
                ul#sortable Choose a Category       
                br
                btn.btn.btn-info.btn-small#deleteall(style="margin-left: 5%; font-size: 0.9em; ")  Delete all 
                br
                br
                btn.btn.btn-info.btn-small#showEnglish(style="margin-left: 5%; font-size: 0.9em; ")  
                br
                br
                #draginfo
                #sponsorName
              
                            
            //-Letter List
     
            
           

        