doctype html
html
  head
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/flip/roncioso-Flip/jquery.flip.min.js')
    script(src='/flip/roncioso-Flip/jquery.flip.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/spelling.js')
    title= title
  body
  
    block content
    #wrapper
      #header
        nav.navbar.navbar-default.navbar-static-top
               ul.nav.navbar-nav
                li.non-active 
                  a(href='/tutorial') Home
                li.non-active
                  a(href='/tutorial/cards') Vocabulary: Flashcards
                li.active
                  a(href='/tutorial/spellingvoc') Vocabulary: Test
                li.non-active
                  a(href='/tutorial/lettercreation?vocGreet') Letter Creator 
        br
        br     
        h1= title
        p German-English Tutorial for the PNH girls
        br
        
      #body       
     
     
        .container.left
           #help.modal.hide.fade.in(style='display: none;')
             .modal-header
               a.btn.btn-inverse.close(data-dismiss='modal')
                 i.icon-white.icon-remove
                
               h3 Choose a Category
             .modal-body
               h4 Things to do here:
               p Please select a Category to learn words which belong to the category. 
               p To select a category simply click on the name of one category.
               p If you selected a category a new page will open showing the first word of the selected category. You can start practising now.
               p To close this help-window click on the X on the right upper corner of this small help-window.
                             
           p
            a.tooltips.btn.btn-primary.btn-small(data-toggle='modal', href='#help') 
             | ?
             span Need Help?
        br
        br
        h1(style="color: #0099CC") Test
        h2(style="text-align: center") Choose a Category

         br
         br
         table(style='margin-left: 15%; width:70%;')
             tr
              th 
               a(href='/tutorial/spellingvoc/cat?vocList1')
                img.thumbnail.img-responsive(src='/images/hellobye.png', alt='hello & bye', width="250", height="250")
              
              th 
               a(href='/tutorial/spellingvoc/cat?school')
                img.thumbnail.img-responsive(src='/images/School.png', alt='School', width="250", height="250")
              th 
               a(href='/tutorial/spellingvoc/cat?weather')
                img.thumbnail.img-responsive(src='/images/weather.png', alt='weather', width="250", height="250")
              th 
               a(href='/tutorial/spellingvoc/cat?ceremonies')
                img.thumbnail.img-responsive(src='/images/ceremonies.png', alt='ceremonies', width="250", height="250")
              th 
               a(href='/tutorial/spellingvoc/cat?aboutme')
                img.thumbnail.img-responsive(src='/images/aboutme.png', alt='about me', width="250", height="250")

              th 
               a(href='/tutorial/spellingvoc/cat?family')
                img.thumbnail.img-responsive(src='/images/family.png', alt='family', width="250", height="250")
              
             tr
              th 
               a(href='/tutorial/spellingvoc/cat?friends')
                img.thumbnail.img-responsive(src='/images/friends.png', alt='friends', width="250", height="250")
              th 
               a(href='/tutorial/spellingvoc/cat?food')
                img.thumbnail.img-responsive(src='/images/food.png', alt='food', width="250", height="250") 
              th 
               a(href='/tutorial/spellingvoc/cat?colorsNumbers')
                img.thumbnail.img-responsive(src='/images/colorsNumbers.png', alt='colors & numbers', width="250", height="250")
                           
              th 
               a(href='/tutorial/spellingvoc/cat?hobbies')
                img.thumbnail.img-responsive(src='/images/hobbies.png', alt='hobbies', width="250", height="250")
              th 
               a(href='/tutorial/spellingvoc/cat?pnh')
                img.thumbnail.img-responsive(src='/images/pnh.png', alt='PNH', width="250", height="250")
              th 
               a(href='/tutorial/spellingvoc/cat?sickness')
                img.thumbnail.img-responsive(src='/images/sickness.png', width="250", height="250", alt='sickness')          
        
        
        
        
        
        