doctype html
html
  head
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/flip/roncioso-Flip/jquery.flip.min.js')
    script(src='/flip/roncioso-Flip/jquery.flip.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/spelling.js')
    title= title
  body
  
    block content
    #wrapper
      #header
        nav.navbar.navbar-default.navbar-static-top
               ul.nav.navbar-nav
                li.non-active 
                  a(href='/tutorial') Home
                li.non-active
                  a(href='/tutorial/cards') Vocabulary: Flashcards
                li.active
                  a(href='/tutorial/spellingvoc') Vocabulary: Test
                li.non-active
                  a(href='/tutorial/lettercreation?vocGreet') Letter Creator 
        br
        br     
        h1= title
        p German-English Tutorial for the PNH girls
        br
        
      #body       
 
        #container
        
          
         #right.column(style="background-color: white") 
          br
          br
          br
          h1 Choose another Category
           br
           br
           table(style='text-align: left; margin-left: 40px; margin-right: 20px;')
               tr
                th 
                 a(href='/tutorial/spellingvoc/cat?vocList1')
                  img.thumbnail.img-responsive(src='/images/hellobye.png', alt='hello & bye', width="120", height="120")
              
                th 
                 a(href='/tutorial/spellingvoc/cat?school')
                  img.thumbnail.img-responsive(src='/images/School.png', alt='School', width="120", height="120")
                th 
                 a(href='/tutorial/spellingvoc/cat?weather')
                  img.thumbnail.img-responsive(src='/images/weather.png', alt='weather', width="120", height="120")
                th 
                 a(href='/tutorial/spellingvoc/cat?ceremonies')
                  img.thumbnail.img-responsive(src='/images/ceremonies.png', alt='ceremonies', width="120", height="120")
                th 
                 a(href='/tutorial/spellingvoc/cat?aboutme')
                  img.thumbnail.img-responsive(src='/images/aboutme.png', alt='about me', width="120", height="120")

                th 
                 a(href='/tutorial/spellingvoc/cat?family')
                  img.thumbnail.img-responsive(src='/images/family.png', alt='family', width="120", height="120")
              
               tr
                th 
                 a(href='/tutorial/spellingvoc/cat?friends')
                  img.thumbnail.img-responsive(src='/images/friends.png', alt='friends', width="120", height="120")
                th 
                 a(href='/tutorial/spellingvoc/cat?food')
                  img.thumbnail.img-responsive(src='/images/food.png', alt='food', width="120", height="120") 
                th 
                 a(href='/tutorial/spellingvoc/cat?colorsNumbers')
                  img.thumbnail.img-responsive(src='/images/colorsNumbers.png', alt='colors & numbers', width="120", height="120")
                           
                th 
                 a(href='/tutorial/spellingvoc/cat?hobbies')
                  img.thumbnail.img-responsive(src='/images/hobbies.png', alt='hobbies', width="120", height="120")
                th 
                 a(href='/tutorial/spellingvoc/cat?pnh')
                  img.thumbnail.img-responsive(src='/images/pnh.png', alt='PNH', width="120", height="120")
                th 
                 a(href='/tutorial/spellingvoc/cat?sickness')
                  img.thumbnail.img-responsive(src='/images/sickness.png', width="120", height="120", alt='sickness')          
        
        
         #left.column(style="background-color: white") 
          br
          br
          br
          br
          br
          
          h1(style="color: #0099CC") Congratulation
          br
          h3(style="text-align: center") You did it! You completed a category. Keep it up and choose your next category.
        
        
        