doctype html
html
  head
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/flip/roncioso-Flip/jquery.flip.min.js')
    script(src='/flip/roncioso-Flip/jquery.flip.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/cards.js')
    title= title

  body
    block content
    #wrapper
      #header
       
        nav.navbar.navbar-default.navbar-static-top
               ul.nav.navbar-nav
                li.active
                  a(href='/tutorial') Home
                li.non-active
                  a(href='/tutorial/cards') Vocabulary: Flashcards
                li.non-active
                  a(href='/tutorial/spellingvoc') Vocabulary: Test
                li.non-active
                  a(href='/tutorial/lettercreation?vocGreet') Letter Creator 
        
        br
        br     
        h1= title
        p German-English Tutorial for the PNH girls
        br
        
       #container
        br
        p This tutorial was made to help the PNH girls to comunicate with their (german) sponsors.
        p Two different sections - Vocabulary and Lettercreation - are designed to support the girl->sponsor communication.        
        p The vocabulary is limited to words which are needed for basic communication with their sponsors. 
        p The goal: Each PNH girls should be able to write her own individual letter.
               
         #right.column
          h2.tu Create a letter
          br        
          a.white(href='/tutorial/lettercreation?vocGreet') 
           #box.bg
            table
             tr
              th.delete 
               br
               img(src='images/letterPate.png', alt='Letter to sponsor', width="150", height="150")
              th 

               h4 Create your own letter   
          
         #left.column
          h2.tu Learn Vocabulary
  
          a.white(href="/tutorial/cards")
           #box.bg
            br
            table
             tr
              th  
               img(src='images/indexflash.PNG', alt='Learn flashcards', width="150", height="150")
              th
              th
              th 
               h4 Flashcards 
             
          
          a.white(href="/tutorial/spellingvoc")
           #box.bg
            table
             tr
              th
               img(src='images/indexspell.PNG', alt='test your spelling', width="150", height="150")
              th
              th
              th 
               h4 Test your knowledge
          
         
          
          
      