doctype html
html
  head
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/flip/roncioso-Flip/jquery.flip.min.js')
    script(src='/flip/roncioso-Flip/jquery.flip.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/cards.js')
    title= title

  body
    block content
    #wrapper
      #header
       
        nav.navbar.navbar-default.navbar-static-top
               ul.nav.navbar-nav
                li.active
                  a(href='/tutorial') Home
                li.non-active
                  a(href='/tutorial/cards') Vocabulary: Flashcards
                li.non-active
                  a(href='/tutorial/spellingvoc') Vocabulary: Write Words 
                li.non-active
                  a(href='/tutorial/lettercreation?vocGreet') Letter Creator 
        
        br
        br     
        h1= title
        p German-English Tutorial for the PNH girls
        br
        
       #container
        br
        br
        br
        br
        p This tutorial was made to help the PNH girls communicate with their (german) sponsors.
        p Two different sections - Vocabulary and Letter Creator - are designed to support the girl<->sponsor communication.        
        p The vocabulary is limited to words which are needed for basic communication between girl and sponsor. 
        p The goal: Each PNH girls is able to write her own individual letter and thus enhance the communication.
        br
        br
        ul(style="text-align:center; font-weight: bold;")
                list-inline.active 
                  a(href='/tutorial/cards') Vocabulary: Flashcards   |  
                list-inline.non-active
                  a(href='/tutorial/spellingvoc') Vocabulary: Write Words    
                br
                list-inline.non-active
                  a(href='/tutorial/lettercreation?vocGreet') Letter Creator